.reducer span {
	animation: reduce 1s ease-out 4s forwards;
}

.reducer {
	animation: createBorder 0.2s 5s forwards;
}

@keyframes unshow {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes reduce {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}

@keyframes createBorder {
	to {
		border: 2px solid white;
	}
}
