@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

body {
	position: relative;
	min-height: 100vh;
}

#background_container {
	position: relative;
	background-color: white;
	height: 100vh;
	overflow: hidden;
}